<h1>New Category</h1>

<%#= render 'form', category: @category %>

<%= simple_form_for @category do |c| %>
  <%= c.input :label %> <br>
  State:
  <%= c.select :state, ['published', 'draft', 'discontinued'] %> <br> <br>
  <%= c.association :parent, label_method: :label, include_blank: true %> <br>
  <%= c.button :submit %>
<% end %>

<%= link_to 'Back', categories_path %>
